<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message de Contact - Guide.bj</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
    "
  >
    <div
      style="
        background-color: #fae69e;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      "
    >
      <h2 style="color: #333">Message de Contact - Guide.bj</h2>
      <p><strong style="color: #555">Nom :</strong> {name}</p>
      <p><strong style="color: #555">E-mail :</strong> {email}</p>
      <p><strong style="color: #555">Tel :</strong> {tel}</p>
      <p style="color: #555"><strong>Message :</strong></p>
      <p style="color: #555">{message}</p>
    </div>
  </body>
</html>
