<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Newsletter de la Fondation Chrétienne</title>
  </head>
  <body>
    <div class="newsletter-container">
      <header>
        <h1>Newsletter Mensuelle</h1>
        <p>La Fondation Chrétienne - Août 2023</p>
      </header>
      <section class="featured-article">
        <h2>Article en Vedette</h2>
        <h3>La Foi et l'Espérance</h3>
        <p>
          Découvrez comment la foi peut apporter de l'espoir dans les moments
          les plus difficiles de nos vies.
        </p>
        <a href="#">Lire Plus</a>
      </section>
      <section class="upcoming-events">
        <h2>Événements à Venir</h2>
        <ul>
          <li><a href="#">Conférence sur la Spiritualité et la Guérison</a></li>
          <li><a href="#">Groupe de Prière Communautaire</a></li>
          <li><a href="#">Retraite Spirituelle de l'Automne</a></li>
        </ul>
      </section>
      <section class="donation">
        <h2>Faire un Don</h2>
        <p>
          Votre soutien financier nous permet de continuer notre travail et
          d'aider ceux dans le besoin. Faites un don aujourd'hui.
        </p>
        <a href="https://capable-creponne-29ce5a.netlify.app/donate"
          >Faire un Don</a
        >
      </section>
      <footer>
        <p>Restez Connectés :</p>
        <div class="social-links">
          <a href="#"><img src="facebook-icon.png" alt="Facebook" /></a>
          <a href="#"><img src="twitter-icon.png" alt="Twitter" /></a>
          <a href="#"><img src="instagram-icon.png" alt="Instagram" /></a>
        </div>
      </footer>
    </div>
  </body>
</html>
